
.Header {
    width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  /* Add any additional styling you want for the header */
}

.NewOrderPage {
  height: 100%;
  background-color: var(--white);
  border-radius: 2vmin;
}



.Menu {
 
  margin: 3vmin 2vmin;
}