.Logo {
  background-image: url('https://www.mynaturalorigins.com/hubfs/images%20blog/gamme-de-thes-et-infusions-natural-origins-1.jpg');
  background-position: center -400px;
  
  height: 10rem;
  width: 100%;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

.StoreName {
  color: aliceblue;
  font-size: 7rem;
  text-shadow: 2px 2px 4px rgba(252, 252, 252, 0.2); /* Add a subtle text shadow */
  transition: text-shadow 0.3s ease-in-out; /* Add transition for the effect */
}

.StoreName:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Adjust the text shadow on hover */
}

.Tagline {

  color: aliceblue;
  font-size: 3rem;
  margin-top: -4rem;
}
