.Logo {
    background-image: url('https://d1dxs113ar9ebd.cloudfront.net/225batonrouge/2019/01/225_FeatureImageTemplate.jpg?q=70&crop=faces&fit=crop&w=1300&h=600');
    background-size: cover;
    height: 10rem;
    width: 100%;
    text-align: center;
    font-size: 2.7vmin;
    border: .6vmin solid var(--tan-2);
    }